/* Google Fonts - outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Tailwind css library */
@import "tailwindcss";

/* styles */
*,
*::before,
*::after {
  font-family: "Outfit", sans-serif;
}
